<% if params[:baby_food_id] %>
    <h1>Edit a Review for <%= @review.baby_food.name%>!!!</h1>
<% else %>
    <h1>Edit a Review!!!</h1>
<% end %>

<%= render partial: 'form' %>

<div>
<p class="button"><%= button_to 'Delete review', review_path(@review), method: 'delete' %></p>
</div>