<h1>All Reviews</h1>

<ul>
<% @reviews.each do |r| %>
    <li><%= link_to r.baby_food.name, review_path(r) %> : <%= r.thumbs_up %> - <%= r.content %> (<%= link_to  "Edit review", edit_review_path(r.id) %>)</li>
<% end %>
</ul>